# Electron 네이티브 모듈 빌드 설정
target_platform=electron
target_arch=x64
runtime=electron
build_from_source=true
dist_url=https://electronjs.org/headers

# SQLite3 설정
sqlite3_binary_host_mirror=https://mapbox-node-binary.s3.amazonaws.com
sqlite3_remote_path=/sqlite3/v5.1.7/{configuration}/{node_abi}-{platform}-{arch}.tar.gz

# pnpm 설정
node-linker=hoisted
shamefully-hoist=true
